@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.name {
    font-size: 40px;
    padding-left: 20px;
    margin-bottom: 0px;
}

.sub {
    font-size: 25px;
    padding-left: 20px;    
}

.caixa{
    padding-top: 30px;
}

body{
    margin: 10px 5px;
}

section {
    border-top: 1px solid black;
}

.title{
    font-size: 25px;
    padding-bottom: 10px;
}

.lista {
    padding-bottom: 10px;
    list-style: none;
}

a:visited {
    color: black;
}

#provisorio{
    padding-bottom: 10px;
}

.cargo {
    font-size: 20px;
}

#linkedin{
    width: 50px;
    height: 50px;
}

#github{
    width: 50px;
    height: 50px;
}

.pequenos{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
